.dashboard{
    display: grid;
    height: 100vh;
    grid-template-rows:6rem 1fr 3rem;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#fff;
    font-weight: 200;
    color:grey;
    font-size: 150%;
    box-shadow: -5px -5px 5px #aeaeae,5px 5px 5px #babecc;
}
.main{
    display: grid;
    height: 100%;
    grid-template-columns: 8rem 1fr 1fr;

}
h2{
    text-align: center;
    color:gray;
}

